[global]
mode = "debug"
logPath = "log/water.log"
addr = "127.0.0.1:8080"
# 收款地址
adminAddress = [
    "0x950a4e3beb32d3862272592c8bae79fb5f3475db",
]

[mysql]
user = "your_user"
password = "your_password"
host = "gateway01.ap-northeast-1.prod.aws.tidbcloud.com"
port = 4000
dbName = "your_db"
maxIdleConns = 10
maxOpenConns = 100
tls = true

[rmq]
user = "your_user"
password = "your_password"
host = "cougar.rmq.cloudamqp.com"
vhost = "/psnbxfjg"
port = 5672
queue = "your_queue"
