* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: serif
}

.list-container {
    width: 62%;
    top: 50%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #494277
}

.list-container h1 {
    font-size: 24pt;
    text-align: center;
    font-weight: 500;
    margin-top: 15px
}

.list-container h2 {
    font-size: 14pt;
    text-align: left;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 15px
}

.list {
    max-height: 38vh;
    list-style: none;
    overflow-y: auto;
    padding: 0 0 15px;
}

.list li {
    line-height: 22px;
    font-size: 12px;
    font-family: monospace;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    font-weight: 300;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #656565;
    transition: all 0.6s ease
}

.list li:hover {
    background: #5c7fed;
    color: #fff
}

.list li:hover .circle {
    color: #fff
}

.list li .circle {
    margin-right: 6px;
    font-size: 0.90em;
    align-self: center;
    color: #6ecc8b
}

.list li a {
    text-decoration: none;
    color: inherit;
}

.list li a img {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 250px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list li a:hover img {
    display: block;
}

.network {
    width: 8em;
    display: inline-block;
    color: #494277;
}

form {
    font-family: monospace;
}

::placeholder {
    font-size: 12px;
    font-family: monospace;
    color: #656565;
}

.separator {
    display: inline;
}

.address {
    display: inline-block;
    font-size: 12px;
    font-family: monospace;
    min-width: 308px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 0;
}

.query_button {
    display: inline-block;
    font-size: 12px;
    font-family: monospace;
    padding: 2px;
    border-radius: 3px;
    border: 0;
    background: rgb(26, 115, 232);
    color: white;
}

.tooltip {
    left: 50%;
    transform: translateX(-50%);
    top: 4vh;
    position: fixed;
    background-color: rgb(92 127 237 / 85%);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.tooltip.show {
    opacity: 1;
    visibility: visible;
}

.list li .circle::before {
    content: "•";
    vertical-align: middle
}

.list li a input {
    text-decoration: none;
    color: inherit
}

.footer {
    bottom: 25px;
    position: absolute;
    width: 100%;
    text-align: center
}

.footer a {
    font-family: ui-serif;
    font-size: clamp(10px, calc(0.5rem + 0.2vw + 0.38vh), 12px);
    color: rgba(28, 28, 28, 0.8);
    text-decoration: none
}

.context {
    top: 38vh;
    position: absolute;
    width: 100%;
    text-align: center
}

.context h1 {
    font-size: calc(1.5rem + 0.75vw + 1.05vh);
    color: #494277
}

@media only screen and (max-height: 400px) {
    .footer {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .network {
        width: 7.3rem;
    }

    .list-container {
        width: 96%;
        top: 48%
    }

    .list-container h1 {
        font-size: 16pt
    }

    .list-container h2 {
        font-size: 13pt;
    }

    .list {
        max-height: 52vh;
    }

    .list li {
        font-size: 15px;
        padding: 4px 13px 4px 13px
    }

    .list li .circle {
        display: none;
        margin-right: 2px;
        font-size: 0.80em
    }

    .context h1 {
        font-size: calc(1.1rem + 0.75vw + 1.05vh)
    }
}

.area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(to top, #7ac4de, white)
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    animation: animate 25s linear infinite;
    bottom: -150px
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%
    }
}