<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Receive Crypto Pay</title>
    <link rel="stylesheet" href="{{  .hostRoot  }}/src/style.css">
</head>
<body>
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="list-container">
    <h1>Auto Receive Crypto Pay</h1>

    <h2>Receiving Address</h2>
    <ul class="list" id="fileList">
        {{ range $network, $addresses := .adminAddresses }}
        <li>
            <span class="circle"></span>
            <a href="javascript:void(0);">
                <span class="network">{{ $network }}</span>
                <span class="separator">:</span>
                {{ range $index, $addressConfig := $addresses }}
                <span class="address" data-address="{{ $addressConfig.Address }}">{{ $addressConfig.Address }}</span>
                <img src="{{ $addressConfig.URL }}" alt="{{ $network }}">
                {{ end }}
            </a>
        </li>
        {{ end }}
    </ul>

    <h2>Query Invoice</h2>
    <ul class="list">
        <li>
            <span class="circle"></span>
            <form action="{{  .hostRoot  }}/query_invoice" method="GET">
                <label for="from_address" class="network">YOUR ADDRESS</label>
                <span class="separator">:</span>
                <input type="text" id="from_address" name="from_address" placeholder="0x..." class="address">
                <input type="submit" value="Query" class="query_button">
            </form>
        </li>
    </ul>
</div>

<div class="footer">
    <a href="https://github.com/HEUDavid/go-fsm" target="_blank">Powered by go-fsm</a>
    <a href="https://github.com/HEUDavid/auto-receive-crypto-pay" target="_blank">and auto-receive-crypto-pay</a>
</div>

<div id="tooltip" class="tooltip"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addressElements = document.querySelectorAll('span.address');
        addressElements.forEach(function (addressElement) {
            addressElement.addEventListener('click', function () {
                const addressText = this.getAttribute('data-address');
                navigator.clipboard.writeText(addressText).then(function () {
                    showTooltip("Copied: " + addressText);
                }).catch(function (error) {
                    showTooltip("Copy failed, please copy manually.");
                    console.error("Copy failed: ", error);
                });
            });
        });

        function showTooltip(message) {
            const tooltip = document.getElementById('tooltip');
            tooltip.innerText = message;
            tooltip.classList.add('show');

            setTimeout(function () {
                tooltip.classList.remove('show');
            }, 2000);
        }
    });
</script>
</body>
</html>
